extends ../base

block content
    div(ng-app='IfiszallasokAdmin')
        .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
            .container
                .navbar-header
                    a.navbar-brand(href='#') Ifi szállások
                .navbar-collapse.collapse
                    .navbar-right.navbar-form
                        a.btn.btn-sm.btn-default(href='/singout')= "Kilépés"

        h1
            | Admin

        .container(ng-controller='AdminMainCtrl')
            .row
                .col-xs-5
                    input.form-control(type='text',ng-model='filter.location',placeholder='Keresés')
                    ul.list-unstyled
                        li(ng-repeat='county in counties',ng-show='(county.locations | filter : filter.location).length')
                            b {{ county.name }}
                            ul
                                li(ng-repeat='location in county.locations | filter : filter.location')
                                    a(href='',ng-click='editLocation(location, county)') {{ location.name }}
                .col-xs-7
                    .location-edit
                        h3 Szerkezstés
                        hr
                        form.form-horizontal
                            fieldset
                                legend Alap adatok
                                .form-group
                                    label.col-sm-3 Név
                                    .col-sm-9
                                        input.form-control(type=text,ng-model='selectedLocation.name')

                                .form-group
                                    label.col-sm-3 Megye
                                    .col-sm-9
                                        select.form-control(ng-options='c.name for c in counties',ng-model='selectedLocation.__county')

                                .form-group
                                    label.col-sm-3 Cím
                                    .col-sm-9
                                        input.form-control(type=text,ng-model='selectedLocation.address')

                                .form-group
                                    label.col-sm-3 Ügyintéző
                                    .col-sm-9
                                        input.form-control(type=text,ng-model='selectedLocation.manager')

                                .form-group
                                    label.col-sm-3 Leírás
                                    .col-sm-9
                                        textarea.form-control(type=text,ng-model='selectedLocation.description')

                        div
                            fieldset
                                legend Elérhetőségek
                                .form-group(ng-repeat='contact in selectedLocation.contacts')
                                    span(e-form='contactForm',editable-text='contact.type') type
                                    span(e-form='contactForm',editable-text='contact.name') name
                                    span(e-form='contactForm',editable-text='contact.value') value

                                    button.btn.btn-xs.btn-default(ng-click='contactForm.$show()') Edit
                                    button.btn.btn-xs.btn-danger Remove

                                .form-group
                                    button.btn.btn-default.btn-xs(ng-click='addContact(selectedLocation)') Új Elérérhetőség
                            hr
                            .form-group
                                button.btn.btn-primary.pull-right(type='button',ng-click='saveLocation()') Mentés
block css
    if DEBUG
        link(rel='stylesheet', href='/bower_components/angular-xeditable/dist/css/xeditable.css')

block js
    if DEBUG
        script(src='/bower_components/angular-xeditable/dist/js/xeditable.js')

    script(src='/js/admin.js')
